<div class="container">
  <div class="card">
    <div class="conversation">
      <div class="conversation__chip"><h4 class="conversation__chip__title">Conversations</h4></div>
      <div class="conversation__window">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
