{{#each model as |conversation|}}
  <div class="conversation">
    {{#each conversation.participants as |participant|}}
      <p>{{participant.user.messages.text}}</p>
    {{/each}}
  </div>
{{/each}}
