$gray-border: #e8e5e5;
$cool-blue: #174df1;
$connections: #0026f1;
$grid-button: #2b79ff;
$footer-gray: #ede6e6;

.grid-nav {
  position: relative;
  width: 100%;
  background: #fff;
  vertical-align: middle;
  align-content: center;
  border-bottom: 0.11rem solid $gray-border;
  z-index: 2;
  box-shadow: 0.1rem 0.06rem 0.3rem rgba($gray-border,.29);

  &__container {
    width: 88%;
    padding: 0 0.5rem;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    vertical-align: middle;
  }

  &__left {
    width: 15%;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    color: #868686;
  }

  &__center {
    width: 70%;
    text-align: center;
    flex-grow: 1;
    vertical-align: middle;
    margin: 0;
  }

  &__logo {
    font-size: 2rem;
    margin: 0;
    color: lighten($main, 10%);
    line-height: auto;
  }

  &__right {
    width: 15%;

    &__button {
      width: 100%;
      background: transparent;
      border: none;
      padding: 0;
      margin: auto;
      border-radius: 100%;

      &:active {
        background: #fff;
      }

      &__frame {
        position: relative;
        width: 2.5rem;
        height: 2.5rem;
        overflow: hidden;
      }
    }
  }

  &__right__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    height: 100%;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(25% - 0.6rem);
      text-align: center;
      vertical-align: middle;
      font-size: 1.3rem;
      margin: 0 0.1rem;
      color: #838383;
      transition: all 150ms ease-out;

      a {
        color: inherit;
      }

      &:hover {
        color: lighten($main, 10%);
        border-bottom: 0.2rem solid lighten($main, 10%);
        transition: all 200ms ease-in;
      }

      .active,
      .active:after,
      .active:before {
        color: lighten($main, 10%);
        // border-bottom: 0.2rem solid $cool-blue;
      }
    }
  }

  &__image {
    display: block;
    align-self: flex-start;
    position: relative;
    width: 2.5rem;

    &:hover {
      border-bottom: none;
    }

    &__pic {
      background: #c1c1c1;
      padding: 0.1rem;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      height: 100%;
      width: 100%;
      margin: auto;
      transition: background 200ms ease-out;

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      &:hover {
        background: lighten($main,10%);
        transition: background 200ms ease-in;
      }
    }
  }

}

.bubble {
  display: block;
  position: absolute;
  width: 10rem;
  padding: 0.4rem 0;
  background: #FFFFFF;
  border-radius: 0.4rem;
  border: $gray-border solid 0.11rem;
  left: -100%;
  top: 90%;
  z-index: 90000;
  box-shadow: 0.1rem 0.03rem 0.3rem rgba(#cdcdcd,.49);

  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 1rem 1rem;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 900000;
    margin-left: -12px;
    top: -14px;
    left: 35%;
  }

  &:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 1rem 1rem;
    border-color: $gray-border transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -12px;
    top: -15px;
    left: 35%;
  }

  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    color: #323232;

    a {
      color: inherit;
    }

    &__item {
      width: 100%;
      padding: 0.8rem 0;
      border-bottom: 0.11rem solid $gray-border;
      transition: background 150ms ease-out, color 50ms ease-out;

      &:hover {
        background: lighten($cool-blue, 10%);
        color: #fff;
        transition: background 150ms ease-in, color 50ms ease-in;
      }

      &__span {
        width: 100%;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__off {
    display: none;
  }
}

.kin-footer {
  width: 100%;
  background: $footer-gray;

  &__content {
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: darken($footer-gray, 25%);
    font-size: 0.8rem;
    max-height: 2.8rem;
  }
}
@media only screen and (max-width: 1000px) {
  .grid-nav {
    &__container {
      width: 92%;
    }

    &__left {
      display: none;
    }

    &__center {
      width: 50%;
      text-align: left;
    }

    &__right {
      width: 30%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .grid-nav {
    &__container {
      width: 95%;
    }

    &__left {
      display: none;
    }

    &__center {
      width: 50%;
      text-align: left;
    }

    &__right {
      width: 40%;
    }
  }
}
@media only screen and (min-width : 320px) and (max-width : 580px) {
  .grid-nav {
    &__right {
      width: 60%;
    }

    &__center {
      width: 40%;
    }
  }
}
