.card-container {
  width: 50%;
  min-width: 25rem;
  padding: 4rem 3rem;
  margin: auto;
  box-shadow: 0.2rem 0.2rem 0.4rem lightgray;
  border: 1px solid lightgray;
}

.card-card__title {
  font-size: 2rem;
  text-transform: capitalize;
}

.forgot-btn {
  background: lightgray;
  margin-top: 2rem;
  font-weight: 300;
  border-radius: 5rem;
}

.validate {
  background-color: gray;
}
