// These are the styles for both parent-sitter, and sitter-parent templates.

.parent-sitter-banner {
  width: 100%;
  background: #fbfbfb;
  background-image: linear-gradient(180deg, rgba(255,255,255,0), #fbfbfb),linear-gradient(70deg, lighten($main,55%) 32%, #e0f1ff);
  color: #3e3e3e;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.5rem 2rem;
}

.grid-container {
  width: 66%;
  margin: 0 auto;
}

a:hover {
  cursor: pointer;
}

.sitter-card {
  border: 0;
}

.card-image-gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(#fff,0), rgba(#373737,.34));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-image {
  width: 100%;

  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    &::before {
      content: "";
      width: 100%;
      display: block;
      padding-top: 100%;
    }
  }
}

.card .card-image__wrapper {
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
  }
}

.fa-star,
.fa-star-half-o,
.fa-star-o {
  color: #ffde00;

  &:hover {
    color: lighten(#ffde00, 10%);
    cursor: pointer;
  }
}

.fa-envelope-o,
.fa-eye,
.fa-thumbs-o-up {
  font-size: 2rem;
  color: #a7a6a6;

  &:hover {
    color: lighten($main, 10%);
    font-weight: bold;
    transition: all 200ms ease-in;
    cursor: pointer;
  }
}

.fa-map-pin {
  color: $cool-blue;
  font-size: 1.2rem;
}

.profile-location {
  color: darken($cool-blue, 40%);
  font-size: 0.85rem;
}

.user-action-icons {
  width: 90%;
  // padding: 0.5rem 1rem;
  margin: 0 auto;
  // margin-right: -2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  &__item {
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  &__button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
  }
}

.fa-envelope-o {
  margin-right: -1.5rem;
  align-self: flex-end;
}

.fa-eye {
  margin-right: -1.5rem;
  align-self: flex-start;
}

.family-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: 0.87rem;

  strong {
    font-weight: 500;
    color: darken($cool-blue, 20%);
  }
}

.family-info-2 {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 681px) and (max-width: 980px) {
  .grid-container {
    width: 88%;
  }
}
@media screen and (min-width : 320px) and (max-width : 680px) {
  .grid-container {
    width: 90%;
  }

  .col,
  .m4,
  .s12 {
    width: 100%;
    min-width: 100%;
  }
}

.something-else {
  white-space: normal;
  min-height: 4.5rem;
  max-height: 4.5rem;
  overflow: hidden;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -1rem;
    width: 100%;
    height: 100%;
    // background-image: linear-gradient(rgba(#fff,0), rgba(#fff,1));
  }
}

.star-rating {
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 40%;
  flex-grow: 1;
}

.their-location {
  width: 60%;
  flex-shrink: 1;
}
