// These are the styles for both parent-sitter, and sitter-parent templates.

.parent-sitter-banner {
  width: 100%;
  background: #fbfbfb;
  background-image: linear-gradient(180deg, rgba(255,255,255,0), #fbfbfb),linear-gradient(70deg, lighten($main,55%) 32%, #e0f1ff);
  color: #3e3e3e;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 0.5rem 2rem;
}

.grid-container {
  width: 64%;
  margin: 0 auto;
}

a:hover {
  cursor: pointer;
}

.sitter-card {
  border: 0;
}

.card-image-gradient {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(#fff,0), rgba(#373737,.34));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-image {
  width: 100%;

  &__wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;

    &::before {
      content: "";
      width: 100%;
      display: block;
      padding-top: 100%;
    }
  }
}

.card .card-image__wrapper {
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    height: 100%;
  }
}

.fa-star,
.fa-star-half-o,
.fa-star-o {
  color: gold;
}

.fa-envelope-o,
.fa-eye,
.fa-thumbs-o-up {
  font-size: 2rem;
  color: $main;

  &:hover {
    font-weight: bold;
  }
}

.fa-map-pin {
  color: blue;
  font-size: 1.2rem;
}

.user-action-icons {
  width: 90%;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  &__item {
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  &__button {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
  }
}

.family-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.family-info-2 {
  display: flex;
  justify-content: space-between;
}
