.profile-view-body {
  padding-top: 2rem;
  min-height: 100vh;
}

.profile-view-container {
  background: #fff;
  min-height: 100vh;
  padding-bottom: 8rem;
}

.profile-view-top {
  width: 95%;
  margin: 0 auto 2rem;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;

  &__image {
    width: calc(100%/3);
    padding: 1rem;
    position: relative;
    overflow: hidden;

    &:before {
      width: 100%;
      display: block;
      content: "";
      padding-top: 100%;
    }

    &__pic {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1rem;
    }
  }

  &__info {
    width: calc(100%/3);
    align-self: center;
    flex-grow: 1;
    padding: 0 1rem;

    &__list {
      font-size: 1.1rem;

      &__name {
        font-size: 1.4rem;
        font-weight: 400;
      }

      &__item {
        margin: 0.3rem 0;

        strong {
          color: #5e5d5d;
          font-weight: 300;
        }
      }
    }
  }

  &__buttons {
    width: calc(100%/3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
    padding: 1rem;

    &__btn {
      width: 60%;
      background: $main;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      vertical-align: middle;
      margin: 0.25rem auto;

      i {
        color: #fff;
        margin-left: 0.5rem;
      }

      &__like {
        background: #1158b6;

        &:hover {
          background: lighten(#1158b6, 5%);
        }
      }

      &:hover {
        background: lighten($main, 5%);
      }
    }
  }
}

.profile-view-about {
  width: 90%;
  margin: auto;
  padding: 1rem;

  &__heading {
    font-size: 1.5rem;
    font-weight: 300;
    color: #5e5d5d;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid #c1bfbf;
  }

  &__info {
    margin: 1.5rem 0;
    min-height: 10rem;
  }
}

.profile-view-connections {
  // background: $gray;
  width: 100%;
  margin: 0.3rem 0;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 2rem;

  &__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__item {
    padding: 0.4rem;
    min-height: 10rem;
    width: calc(100%/6);
    margin: 0.5rem 0.4rem;
    text-align: center;

    &__image {
      width: 100%;
      position: relative;
      overflow: hidden;

      &__pic {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        background: #f1f1f1;
        padding: 0.1rem;
      }

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

    &__name {
      text-align: center;
      font-size: 0.8rem;
      margin-top: 0.4rem;
    }
  }
}

.duck {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    padding: 0.5rem;
  }
}

.fa-thumbs-up {
  color: $main;
  font-size: 2rem;
}

.cat,
.siamese {
  margin: 0 1rem;
  font-size: 3rem;
}
@media only screen and (max-width: 768px) {
  .profile-view-connections__item {
    padding: 0.3rem;
    width: calc(100%/4);
    margin: 0.5rem 0.3rem;
  }
}
@media only screen and (min-width : 320px) and (max-width : 580px) {
  .profile-view-connections__item {
    padding: 0.2rem;
    width: calc(100%/4 - 0.2rem);
    margin: 0.5rem 0.2rem;
  }
}
