
.profile-view-body {
  padding-top: 2rem;
  background: darken($gray, 8%);
  min-height: 100vh;
}
.profile-view-container {
  background: #fff;
  min-height: 100vh;
}
.profile-view-top {
  width: 95%;
  margin: 0 auto;
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  &__image{
    width: calc(100%/3);
    padding: 1rem;
    position: relative;
    overflow: hidden;
    &:before {
      width: 100%;
      display: block;
      content: "";
      padding-top: 100%;
    }
    &__pic{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1rem;
    }
  }
  &__info {
    width: calc(100%/3);
    align-self: center;
    flex-grow: 1;
    padding: 0 1rem;
    &__list {
      font-size: 1.1rem;
      &__name {
        font-size: 1.4rem;
        font-weight: 400;
      }
      &__item{
        margin: 0.3rem 0;
        strong {
          color: #5e5d5d;
          font-weight: 300;
        }
      }
    }
  }
  &__buttons {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    &__btn {
      width: 60%;
      background: $main;
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      vertical-align: middle;
      margin: 0.25rem auto;
      i{
        color: #fff;
      }
      &__like {
        background: #1158b6;
      }
      &:hover {
        background: lighten($main, 5%);
      }
    }
  }
}

.profile-view-about {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  &__heading {
    font-size: 1.5rem;
    font-weight: 300;
    color: #5e5d5d;
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid #c1bfbf;
  }
  &__info {
    margin: 1.5rem 0;
  }

}
