.create-profile {
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
  }
}

.form-main {
  flex-grow: 1;
  margin-left: 1rem;
  padding: 0 1.5rem;
}

.upload-section {
  display: flex;
  flex-direction: column;
  padding: 0 0.4rem;
  width: calc(100% / 4);
}

.ratio-frame {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;

  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100%;
  }

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.phone-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}

.kids {
  width: 100%;
  border-bottom: 1px solid black;
}

.radio-pref {
  margin-left: 1rem;
}

.add-children {
  text-align: center;

  &__card {
    width: 85%;
    margin: 0.5rem auto;
    background: #faf9f9;
    border-radius: 1rem;
    padding: 0.2rem;
  }

  &__container {
    width: 92%;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0.3rem 0.6rem;

    &__column {
      input {
        background: rgba(#fff,.23);
        margin: 0.1rem 0.5rem;
        // padding: 0.1rem 0;
        text-align: left;
        height: 2.2rem;

        &:focus {
          background: #fff;
        }
      }

      label {
        text-align: left;
      }
    }

  }

  &__update {
    background: #f2fbff;
  }

  &__button {
    background: lighten($main, 10%);
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.25rem;
    text-shadow: 0.05rem 0.05rem 0.1rem darken(rgba($main,.53) , 2%);
    vertical-align: middle;
    border: 0.1rem solid lighten($main, 6%);
    padding: 0.2rem 0;
    border-radius: 0.6rem;
    width: 25%;
    margin: 0.5rem auto 0;

    &:hover {
      background: lighten($main, 20%);
      border: 0.1rem solid lighten($main, 14%);
      transition: all 200ms ease-in;
    }

    &__update {
      background: #a4a4a4;
      font-size: 1rem;
      text-shadow: 0.05rem 0.05rem 0.1rem darken(rgba(#a4a4a4,.53) , 2%);
      margin: 0.2rem auto 0;
      border: 0.1rem solid lighten(#a4a4a4, 6%);
    }
  }

}
