.switch {
  text-align: center;
  width: 100%;
  background: lighten($gray, 2%);
  margin: auto;
  padding: 1.5rem 0;
  border-radius: 0.3rem;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid rgba(darken($gray, 2%),.35);

  label {
    padding: 1rem 2rem;
    font-size: 1rem;
    text-transform: uppercase;

    span {
      &:hover {
        color: $main;
        transition: color 200ms ease-in;
      }
    }
  }
}

.register-card__title {
  font-size: 2rem;
  text-transform: capitalize;
}

.back-btn {
  background: lightgray;
  margin-top: 2rem;
  font-weight: 300;
  border-radius: 5rem;
}

.validate {
  background-color: gray;
}
