.beans {
  box-shadow: none;
  border: none;
  width: 50%;
}

.user-select {
  display: flex;
  justify-content: center;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  margin: auto;

  &-item {
    width: calc(100% / 2 - 2rem);
    margin: 1rem;
    &__image {
      position: relative;
      width: 100%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 100%;
      }

      &::before{
        content: "";
        display: block;
        padding-top: 100%;
      }
    }
  }
}

h5 {
  font-weight: 300;
}


.select-item {
  padding: 1rem;
  border-radius: 1rem;
    a {
      color: inherit;
    }
    .choice {
      text-align: center;
      transition: all 200ms ease-out;
    }
    &:hover {
      background: rgba($footer-gray, .70);
      transition: all 200ms linear;
    }
}

@media screen and (min-width: 651px) and (max-width: 980px) {
  .beans {
    width: 100%;
  }
  .select {
    width: 80%;
    padding-top: 1rem;
  }

  h5 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
@media screen and (min-width: 320px) and (max-width: 650px) {
  .beans {
    width: 100%;
  }
  .select {
    width: 100%;
    padding-top: 1rem;
  }
  h5 {
    font-size: 1rem;
    font-weight: 300;
  }
}
