$blue: #1642e6;

.welcome-card {
  // background: #cca7a7;
}

.btn {
  background: $blue;
  margin: 0.5rem;
}

// .card-row {
//   margin: auto;
//   width: 100%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
