$blue: #6bb9c2;
$other-blue: #1642e6;
$gray: #f5f5f5;
$button-green: #4169E1;
$gray-text: #2f2f2f;

.card {
  // box-shadow: none;
}

.hero {
  width: 100%;
  position: relative;
  min-height: 20rem;
  height: 85vh;
  background-image: url('https://hd.unsplash.com/photo-1472057401516-4715a3148277');
  background-size: cover;
  background-position: center;

  &__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(#fff,.2),rgba(#8a7d96,.68));
    top: 0;
    left: 0;
  }

  &__container {
    width: 75%;
    margin: 0 auto;
  }
}

.welcome-card {
  font-size: 1rem;
  margin: 5rem 0;
  background: transparent;
  border: none;
  color: #0f0f0f;
  font-weight: 400;
  font-size: 1.5rem;

  &__title {
    font-family: 'Heebo', sans-serif;
    font-size: 5.5rem;
    color: #fff;
    font-weight: 900;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(#4e4359,.1);

  }

  &__tagline {
    width: 75%;
    margin: 0 auto;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(#4e4359,.3);
  }
}

.welcome-action {
  margin: auto;
  width: 40%;
}

.to-register {
  font-family: 'Heebo', sans-serif;
  padding: 0.5rem 1.5rem;
  background: rgba(#b3b3b3,.12);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  border-radius: 5rem;
  border: 0.155rem solid #fff;
  font-size: 1.6rem;
  letter-spacing: 0.07rem;
  transition: background 200ms ease-out, background-image 100ms ease-out, text-shadow 300ms ease-out, border 400ms ease-out;

  &:hover {
    background: lighten($main, 10%);
    background-image: radial-gradient(rgba(#fff,0),lighten($main, 7%));
    border: 0.155rem solid lighten($main, 7%);
    text-shadow: 0.1rem 0.1rem 0.1rem lighten($main, 5%);
    box-shadow: 0.2rem 0.4rem 0.5rem rgba(#5e536c,.26);
    transition: background 200ms ease-in, background-image 100ms ease-in, text-shadow 300ms ease-in, border 400ms ease-in;
  }
}

.to-login {
  background: $gray-button;
  margin-left: 2rem;
  color: #262626;

  &:hover {
    background: darken($gray-button, 5%);
  }
}

.small-card__action {
  color: $blue;
}

.card-title,
.more {
  color: $main;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.more-info {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  border-bottom: 0.1rem solid #ece7e7;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(#d0d0d0,.47);
}
@media screen and (min-width: 681px) and (max-width: 980px) {
  .to-register {
    font-size: 1.3rem;
    padding: 0.3rem 1.3rem;

  }

  .hero__container {
    width: 90%;
  }

  .welcome-action {
    width: 45%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 680px) {
  .to-register {
    font-size: 1rem;
    padding: 0.3rem 0.35rem;
    letter-spacing: 0.03rem;
  }

  .welcome-card__title {
    font-size: 3.4rem;
  }

  .welcome-card__tagline {
    width: 95%;
    font-size: 1.15rem;
  }

  .hero__container {
    width: 95%;
  }

  .welcome-action {
    width: 55%;
  }
}
