$blue: #6bb9c2;
$other-blue: #1642e6;
$gray: #f5f5f5;
$button-green: #4169E1;
$gray-text: #2f2f2f;

.card {
  // box-shadow: none;
}

.hero {
  width: 100%;
  position: relative;
  min-height: 85vh;
  background-image: url('http://cdn.rentcafe.com/dmslivecafe/3/20100/Stock%20Family%20(1920x1080).jpg');
  background-size: cover;
  background-position: bottom-right;
  background-attachment: fixed;

  &__gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(#fff,.2),rgba(#888,.68));
    top: 0;
    left: 0;
  }
}

.welcome-card {
  font-size: 1rem;
  margin: 5rem 0;
  background: transparent;
  border: none;
  color: #0f0f0f;
  font-size: 1.5rem;
  font-weight: 200;
}

.to-login {
  background: $gray-button;
  margin-left: 2rem;
  color: #262626;

  &:hover {
    background: darken($gray-button, 5%);
  }
}

.small-card__action {
  color: $blue;
}

.card-title,
.more {
  color: $main;
  font-weight: 300;
  text-align: center;
}

.more-info {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  border-bottom: 0.1rem solid #ece7e7;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(#d0d0d0,.47);
}
