$blue: #6bb9c2;
$other-blue: #1642e6;
$button-green: #3eda9a;

.card {
  // box-shadow: none;
  border: 2px solid $mainIndigo;
}

.welcome-card {
  font-size: 1rem;
  margin: 5rem 0;
  background: $other-blue;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}


.to-register, .to-login {
  background: $button-green;
  margin-left: 0.5rem;
  font-weight: 400;
}

.small-card__action {
  color: $blue;
}

.more, .card-title {
  color: $mainIndigo;
  font-weight: 400;
}

.more-info {
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}
