<div class="conversation__chip"><h4 class="conversation__chip__title">Conversations</h4></div>
<div class="conversation__window">
<ul class="collection">
  {{#each model as |conversation|}}
    {{conversation-index-item conversation=conversation}}
  {{/each}}
</ul>
</div>
