<div class="card-container">
  <div class="row">
    <div class="card-card__title col s12 center-align">Please Select An Account Type That Fits You</div>
  </div>

  <div class="row">
    <p class="user-select">I am A</p>
    <form action="#">

      <div class="select">
        <div class="user-img">
          <img class="user" src="http://placekitten.com/400/400">
      <p>
      <input name="group1" type="radio" id="test1" />
      <label for="test1">Parent</label>
    </p>
        </div>
       <div class="user-img">
        <img class="user" src="http://placekitten.com/400/400">
     <p>
      <input name="group1" type="radio" id="test2" />
      <label for="test2">Sitter</label>
    </p>
      </div>
    </div>

  </form>

  </div>
</div>



{{outlet}}
