<div class="app">
  <div class="grid-nav">
    <div class="grid-nav__container">
      <div class="grid-nav__content">

        <div class="grid-nav__left">
          <span><i class="fa fa-arrow-left" aria-hidden="true"></i> back to profile</span>
        </div>
        <div class="grid-nav__center">
          {{#link-to "guest.welcome"}}<i class="fa fa-child grid-nav__logo" aria-hidden="true"></i>{{/link-to}}
        </div>

        <div class="grid-nav__right">
          <ul class="grid-nav__right__list">
            <li class="grid-nav__right__list__item grid-nav__image circle">
              <button {{action "toggleBubble"}} class="grid-nav__right__button">
              <img src="http://placecera.com/80/80" class="grid-nav__image__pic responsive-image circle">
            </button>
              <div class="bubble bubble__off">
                <ul class="bubble__list">
                  <li class="bubble__list__item">
                    {{#link-to "profile.view.parent"}}<div class="bibble__list__item__span">View Profile</div>{{/link-to}}
                  </li>
                  <li class="bubble__list__item">
                  {{#link-to "profile.edit"}}<div class="bibble__list__item__span">Edit Profile</div>{{/link-to}}
                  </li>
                  <li class="bubble__list__item">
                    Logout
                  </li>

                </ul>
              </div>
            </li>
            <li class="grid-nav__right__list__item">
              {{#link-to "grid.parent-sitter"}}<i class="fa fa-th-large grid-nav--icon__grid" aria-hidden="true"></i>{{/link-to}}
            </li>
            <li class="grid-nav__right__list__item">
              {{#link-to "connection"}}<i class="fa fa-users grid-nav--icon__users" aria-hidden="true"></i>{{/link-to}}
            </li>
            <li class="grid-nav__right__list__item">
              {{#link-to "grid.parent-sitter"}}<i class="fa fa-comments grid-nav--icon__comments" aria-hidden="true"></i>{{/link-to}}
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="scroll-this-section">
    <main>

      {{#each flashMessages.queue as |flash|}}
        {{flash-message flash=flash}}
      {{/each}}

      {{outlet}}

    </main>
    <footer class="page-footer grey lighten-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="grey-text">Footer Content</h5>
            <p class="grey-text text-darken-4">You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-darken-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-darken-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-darken-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-darken-3" href="#!">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Parent app name
          <a class="grey-text text-darken-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </div>
</div>
