<div class="profile-view-body">
  <div class="container profile-view-container">
    <div class="profile-view-top">
      <div class="profile-view-top__image">
        <img src="http://image.shutterstock.com/z/stock-photo-child-with-angry-expression-51179569.jpg" class="profile-view-top__image__pic circle responsive-image" alt="">
      </div>
      <div class="profile-view-top__info">
        <ul class="profile-view-top__info__list">
          <li class="profile-view-top__info__list__item">
            <span class="profile-view-top__info__list__name">Marvin</span>
          </li>
          <li class="profile-view-top__info__list__item">
            <strong>Child Age:</strong> 8
          </li>
          <li class="profile-view-top__info__list__item">
            <strong>Usual Bedtime:</strong> 9 PM
          </li>
          <li class="profile-view-top__info__list__item">
            <strong>Parent Phone: </strong>(555)-555-5555
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-view-about">
      <div class="profile-view-about__heading">
        About Marvin
      </div>
      <div class="profile-view-about__info">
        Marvin is a most rambunctious child. He is the middle child of Melanie and Melvin. Marvin is starvin'. He could use some help!
      </div>
      <div class="profile-view-about__heading">
        Likes
      </div>
      <div class="profile-view-about__info">
        Matches, chocolate milk.
      </div>
      <div class="profile-view-about__heading">
        Diet
      </div>
      <div class="profile-view-about__info">
        Marvin is highly allergic to vegetables!
      </div>
      <div class="profile-view-about__heading">
        Special Needs/Notable Information
      </div>
      <div class="profile-view-about__info">
        Marvin is the specialist child of all.
      </div>
      <div class="profile-view-about__heading">
        Other Instruction
      </div>
      <div class="profile-view-about__info">
        Please watch Marvin. Please!
      </div>
      <div class="profile-view-about__heading">
        Parent Connections
      </div>
      <div class="profile-view-connections">
        <div class="profile-view-connections__row">
          <div class="profile-view-connections__item">
            <div class="profile-view-connections__item__image">
              <img src="http://placecera.com/gif/70/70" class="circle" alt="">
            </div>
            <div class="profile-view-connections__item__name">
              <span>Michael</span>
            </div>
          </div>
          <div class="profile-view-connections__item">
            <div class="profile-view-connections__item__image">
              <img src="http://placecera.com/70/70" class="circle" alt="">
            </div>
            <div class="profile-view-connections__item__name">
              <span>Michael</span>
            </div>
          </div>
          <div class="profile-view-connections__item">
            <div class="profile-view-connections__item__image">
              <img src="http://placecera.com/gif/70/70" class="circle" alt="">
            </div>
            <div class="profile-view-connections__item__name">
              <span>Michael</span>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
