<div class="container beans">
  <div class="row">
    <div class="card-card__title col s12 center-align">What are you looking for today?</div>
  </div>
  <div class="row">
    <form action="#">
      <div class="select">
        <div class="select-item">
          {{#link-to "user.sitter.index"}}
            <div class="select-item__image">
              <img src="http://cachevalleyfamilymagazine.com/wp-content/uploads/2015/04/babysitting.jpg">
            </div>
            <p class="choice">
              <h5>A Babysitter</h5>
            </p>
          {{/link-to}}
        </div>
        <div class="select-item">
          {{#link-to "user.parent.index"}}
            <div class="select-item__image">
              <img src="https://patcegan.files.wordpress.com/2012/01/kids-playing-in-the-sandbox1.jpg">
            </div>
            <p class="choice">
              <h5>A Playdate</h5>
            </p>
          {{/link-to}}
        </div>
      </div>
    </form>
  </div>
</div>
{{outlet}}
