<div class="app">
  <main>
    <nav>
      <div class="nav-wrapper main-indigo">
        {{#link-to class="brand-logo center"}}
        <i class="fa fa-child" aria-hidden="true"></i>
        {{/link-to}}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            {{#link-to 'guest.login'}}
              Sign in
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'guest.register'}}
              Register
            {{/link-to}}
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {{outlet}}
    </div>

  </main>
  <footer class="page-footer grey lighten-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Parent app name
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
</div>
