{{outlet}}
<div class="container">
  <div class="card-container">
    {{#simple-form onsubmit=(action "registerUser") class="form col s12" as |inputs| }}
      <div class="row row__one">
        <div class="switch">
          <div class="card-card__title col s12 center-align">What kind of Kin are you?</div>
          <label>
      <span>Babysitter</span>
      {{input id="duck" type="checkbox" name="isParent" checked=inputs.isParent}}
      <span class="lever"></span>
      <span>Parent</span>
    </label>
        </div>
      </div>

      <div class="row">
        <div class="row">
          <div class="input-field col s12">
            {{input id="email" type="email" class="validate" value=inputs.email}}
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{input id="password" type="password" class="validate" value=inputs.password}}
            <label for="password">Password</label>
          </div>
        </div>
        <div class="form-action center-align">
          <button type="submit" class="btn col s12 card-btn btn-large">Create Account</button>
          {{#link-to 'guest.login'}}
            <div class="btn forgot-btn">Already have an account?</div>
          {{/link-to}}
        </div>
      </div>
    {{/simple-form}}
  </div>
</div>
