
<ul class="collection">
    <li class="collection-item avatar">
      <img src="http://placecera.com/50/50" alt="" class="circle">
      <span class="title">Michael</span>
      <p>Hey man<br>
         What's your number?
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="http://placecera.com/gif/50/50" alt="" class="circle">
      <span class="title">Mr. Cera</span>
      <p>Hey man<br>
         Still havent heard back from you....
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="http://placecera.com/gif/50/50" alt="" class="circle">
      <span class="title">Mr. Cera</span>
      <p>Hey man<br>
         Are you there?
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="http://placecera.com/50/50" alt="" class="circle">
      <span class="title">Michael</span>
      <p>What's up?<br>
         Havent heard from you in awhile, it's me Michael Cera.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="http://placecera.com/50/50" alt="" class="circle">
      <span class="title">Michael</span>
      <p>What's up?<br>
         Havent heard from you in awhile, it's me Michael Cera.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="http://placecera.com/50/50" alt="" class="circle">
      <span class="title">Michael</span>
      <p>What's up?<br>
         Havent heard from you in awhile, it's me Michael Cera.
      </p>
    </li>
    <li class="collection-item avatar">
      <img src="http://placecera.com/50/50" alt="" class="circle">
      <span class="title">Michael</span>
      <p>What's up?<br>
         Havent heard from you in awhile, it's me Michael Cera.
      </p>
    </li>

  </ul>
