<p>This is the list of sitters that the parent can see.</p>
<div class="row section">
  <div class="row card-row col s6 m12">
    <div class="col s12 m3">
      <div class="card sitter-card">
        <div class="card-image">
          <img src="http://placekitten.com/300/300">
          <span class="card-title">Tracy Chapman</span>
        </div>
        <div class="card-content location-rating">
          <p>Greenhills, Nashville, TN</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </div>
        <div class="card-action location-rating">
          <a href="#"><i class="fa fa-eye"></i></a>
          <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
          <a href="#"><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card sitter-card">
        <div class="card-image">
          <img src="http://placekitten.com/300/300">
          <span class="card-title">Orville Redenbacher</span>
        </div>
        <div class="card-content location-rating">
          <p>Nashville, TN</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </div>
        <div class="card-action location-rating">
          <a href="#"><i class="fa fa-eye"></i></a>
          <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
          <a href="#"><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card sitter-card">
        <div class="card-image">
          <img src="http://placekitten.com/300/300">
          <span class="card-title">Andy Bernard</span>
        </div>
        <div class="card-content location-rating">
          <p>East Nashville, TN</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </p>
        </div>
        <div class="card-action location-rating">
          <a href="#"><i class="fa fa-eye"></i></a>
          <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
          <a href="#"><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
    </div>
    <div class="col s12 m3">
      <div class="card sitter-card">
        <div class="card-image">
          <img src="http://placekitten.com/300/300">
          <span class="card-title">Jonie Jones</span>
        </div>
        <div class="card-content location-rating">
          <p>Nashville, TN</p>
          <p>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </p>
        </div>
        <div class="card-action location-rating">
          <a href="#"><i class="fa fa-eye"></i></a>
          <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
          <a href="#"><i class="fa fa-envelope-o"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

{{outlet}}
