<div class="container">
  <div class="card">
    <div class="profile-view-body">
      <div class="profile-view-container">
        <div class="profile-view-top">
          <div class="profile-view-top__image">
            <img src="http://www.placecera.com/c/200/300" class="profile-view-top__image__pic circle responsive-image" alt="">
          </div>
          <div class="profile-view-top__info">
            <ul class="profile-view-top__info__list">
              <li class="profile-view-top__info__list__item">
                <span class="profile-view-top__info__list__name">Michael</span>
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Age:</strong> 28
                <li class="profile-view-top__info__list__item">
                  <strong>Rate:</strong> $20
                </li>
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Years of Experience:</strong> 7
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Rating:</strong> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
              </li>
              <li class="profile-view-top__info__list__item">
                <strong>Phone: </strong>(555)-555-5555
              </li>
            </ul>
          </div>


          <div class="profile-view-top__buttons">
            <button class="btn profile-view-top__buttons__btn profile-view-top__buttons__btn__like">
              Like <i class="fa fa-thumbs-o-up right"></i>
            </button>
            <button class="btn profile-view-top__buttons__btn">
              Message <i class="fa fa-envelope-o right"></i>
            </button>
          </div>
        </div>



        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            About Michael
          </div>
          <div class="profile-view-about__info">
            Michael occasionally makes appearances in films and on television in order to pay the pay bills. However, his real passion is childcare. What are you waiting for? Contact Michael today!
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Transportation and Travel
          </div>
          <div class="profile-view-about__info">
            Requires private limousine with fully stocked bar and water bottled in the Swiss Alps.
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Availability
          </div>
          <div class="profile-view-about__info">
            Michael devotes his time to any family who will provide him with the highest offer.
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Skills & Qualifications
          </div>
          <div class="profile-view-about__info">
            Arrested Development, Scott Pilgrim Vs. The World, Superbad. Nothing too recent.
          </div>
        </div>
        <div class="profile-view-about">
          <div class="profile-view-about__heading">
            Payment
          </div>
          <div class="profile-view-about__info">
            Michael will only accept cash. All payment must be delivered in a black briefcase.
          </div>




          <div class="profile-view-about__heading">
            Connections
          </div>

          <div class="profile-view-connections">
            <div class="profile-view-connections__row">
              <div class="profile-view-connections__item">
                <div class="profile-view-connections__item__image">
                  <img src="http://placecera.com/gif/70/70" class="circle" alt="">
                </div>
                <div class="profile-view-connections__item__name">
                  <span>Michael</span>
                </div>
              </div>
              <div class="profile-view-connections__item">
                <div class="profile-view-connections__item__image">
                  <img src="http://placecera.com/70/70" class="circle" alt="">
                </div>
                <div class="profile-view-connections__item__name">
                  <span>Michael</span>
                </div>
              </div>
              <div class="profile-view-connections__item">
                <div class="profile-view-connections__item__image">
                  <img src="http://placecera.com/gif/70/70" class="circle" alt="">
                </div>
                <div class="profile-view-connections__item__name">
                  <span>Michael</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
