<div class="profile-view-body">
  <div class="container profile-view-container">
    <div class="profile-view-top">
      <div class="profile-view-top__image">
        <img src="http://tripshooter.com/wp-content/uploads/2014/09/Rome_Stock_Couple_sfw.jpg" class="profile-view-top__image__pic circle responsive-image" alt="">
      </div>
      <div class="profile-view-top__info">
        <ul class="profile-view-top__info__list">
          <li class="profile-view-top__info__list__item">
            <span class="profile-view-top__info__list__name">Melanie & Melvin</span>
          </li>
          <li class="profile-view-top__info__list__item">
            <strong>Number of Kids:</strong> 2
          </li>
          <li class="profile-view-top__info__list__item">
            <strong>Kids' Ages:</strong> 4-7
          </li>
          <li class="profile-view-top__info__list__item">
            <strong>Rating:</strong> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
          </li>
          <li class="profile-view-top__info__list__item">
            <strong>Phone: </strong>(555)-555-5555
          </li>
        </ul>
      </div>
      <div class="profile-view-top__buttons">
        <button class="btn profile-view-top__buttons__btn profile-view-top__buttons__btn__like">
          Like <i class="fa fa-thumbs-o-up"></i>
        </button>
        <button class="btn profile-view-top__buttons__btn">
          Message <i class="fa fa-envelope-o"></i>
        </button>
      </div>
    </div>

    <div class="profile-view-about">
      <div class="profile-view-about__heading">
        About Melanie & Melvin
      </div>
      <div class="profile-view-about__info">
        Here is some info about Melvin T Life. He's pretty great.
      </div>
    </div>

  </div>
</div>
