<div class="grid-nav">
  <div class="grid-nav__container">
    <div class="grid-nav__content">

      <div class="grid-nav__left">
        <a href="#!"><i class="fa fa-child grid-nav__logo" aria-hidden="true"></i> Kin</a>
      </div>

      <div class="grid-nav__right">
        <ul class="grid-nav__right__list">
          <li class="grid-nav__right__list__item grid-nav__image"><img src="http://placecera.com/100/100" class="grid-nav__image__pic responsive-image circle"></li>
          <li class="grid-nav__right__list__item"><a href="badges.html"><i class="fa fa-th-large grid-nav--icon__grid" aria-hidden="true"></i></a></li>
          <li class="grid-nav__right__list__item"><a href="collapsible.html"><i class="fa fa-users grid-nav--icon__users" aria-hidden="true"></i></a></li>
          <li class="grid-nav__right__list__item"><a href="mobile.html"><i class="fa fa-comments grid-nav--icon__comments" aria-hidden="true"></i></a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
{{outlet}}
